#root
{
    -fx-background-color: #c3bdff60;
}
.footer
{
    -fx-background-color: #F1E5E840;
}
.navigation
{
    -fx-padding: 30px 0px 20px 0px;
    -fx-background-color: transparent;
}
.my-button
{
    -fx-padding: 0px;
    -fx-border-radius: 30px;
    -fx-background-color: #FF007230;
    -fx-background-radius: 30px;
    -fx-effect: null;
}
.my-button:hover
{
    -fx-cursor: hand;
    -fx-border-color: #FF007260;
    -fx-border-width: 5;
}
.blur
{
    -fx-background-color: #FF007210;
    -fx-background-radius: 30px;
    -fx-effect: null;
}
.b-label
{
    -fx-text-alignment: center;
    -fx-font-family: "Mending";
    -fx-font-size: 20px;
    -fx-padding: 15px 0px 15px 0px;
    -fx-text-fill: #222222;
    -fx-background-color: #FF007220;
    -fx-background-radius: 0 0 30 30;
    -fx-effect: null;
}
.LUXE
{
    -fx-text-fill: #000000;
    -fx-font-weight: 900;
    -fx-font-size: 20;
    -fx-border-color: #001017B2;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}
.s-LUXE
{
    -fx-background-radius: 20;
    -fx-background-color: #FF000080;
}
.STANDARD
{
    -fx-text-fill: #000000;
    -fx-font-weight: 900;
    -fx-font-size: 20;
    -fx-border-color: #001017B2;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}
.s-STANDARD
{
    -fx-background-radius: 20;
    -fx-background-color: #006FAED7;
}
.SUITE
{
    -fx-text-fill: #000000;
    -fx-font-weight: 900;
    -fx-font-size: 20;
    -fx-border-color: #001017B2;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}
.s-SUITE
{
    -fx-background-radius: 20;
    -fx-background-color: #FFD60080;
}
.c-sort
{
    -fx-background-color: #c3bdff60;
    -fx-background-radius: 70;
    -fx-alignment:center;
}
.c-sort:hover
{
    -fx-cursor: hand;
    -fx-background-color: #c3bdffb0;
}
.c-sort .list-view
{
    -fx-background-color: transparent;
}
.c-sort .combo-box-popup .list-cell
{
    -fx-pref-height: 50;
    -fx-background-radius: 50;
    -fx-background-color: transparent;
}
.c-sort .combo-box-popup .list-cell:hover
{
    -fx-background-color: #c3bdff80;
}
.c-sort .list-view .list-cell
{
    -fx-alignment:center;
}
.c-sort .list-cell
{
    -fx-alignment:center;
}
.newRoom
{
    -fx-font-size: 30;
    -fx-background-color: #c3bdff60;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}
.newRoom:hover
{

}
.new-box-room
{
    -fx-background-color: #c3bdff60;
    -fx-background-radius: 70;
    -fx-alignment:center;
}
.new-box-room:hover
{
    -fx-cursor: hand;
    -fx-background-color: #c3bdffb0;
}
.new-box-room .list-view
{
    -fx-background-color: transparent;
}
.new-box-room .combo-box-popup .list-cell
{
    -fx-pref-height: 50;
    -fx-background-radius: 50;
    -fx-background-color: #c3bdfff0;
    -fx-font-weight: 900;
}
.new-box-room .combo-box-popup .list-cell:hover
{
    -fx-background-color: #c3bdfff0;
}
.new-box-room .list-view .list-cell
{
    -fx-alignment:center;
}
.new-box-room .list-cell
{
    -fx-alignment:center;
}