#root
{
    -fx-background-color: #c3bdff60;
}
.footer
{
    -fx-background-color: #F1E5E840;
}
.navigation
{
    -fx-padding: 30px 0px 20px 0px;
    -fx-background-color: transparent;
}
.my-button
{
    -fx-padding: 0px;
    -fx-border-radius: 30px;
    -fx-background-color: #FF007230;
    -fx-background-radius: 30px;
    -fx-effect: null;
}
.my-button:hover
{
    -fx-cursor: hand;
    -fx-border-color: #FF007260;
    -fx-border-width: 5;
}
.blur
{
    -fx-background-color: #FF007210;
    -fx-background-radius: 30px;
    -fx-effect: null;
}
.b-label
{
    -fx-text-alignment: center;
    -fx-font-family: "Mending";
    -fx-font-size: 20px;
    -fx-padding: 15px 0px 15px 0px;
    -fx-text-fill: #222222;
    -fx-background-color: #FF007220;
    -fx-background-radius: 0 0 30 30;
    -fx-effect: null;
}
.LUXE
{
    -fx-text-fill: #000000;
    -fx-font-weight: 900;
    -fx-font-size: 20;
    -fx-border-color: #001017B2;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}
.s-LUXE
{
    -fx-background-radius: 20;
    -fx-background-color: #FF000080;
}
.STANDARD
{
    -fx-text-fill: #000000;
    -fx-font-weight: 900;
    -fx-font-size: 20;
    -fx-border-color: #001017B2;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}
.s-STANDARD
{
    -fx-background-radius: 20;
    -fx-background-color: #006FAED7;
}
.SUITE
{
    -fx-text-fill: #000000;
    -fx-font-weight: 900;
    -fx-font-size: 20;
    -fx-border-color: #001017B2;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}
.s-SUITE
{
    -fx-background-radius: 20;
    -fx-background-color: #FFD60080;
}
.selected-card
{
    -fx-background-color: #00101745;
}
.newRoom
{
    -fx-font-size: 30;
    -fx-background-color: #c3bdff60;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}
.drop-box
{
    -fx-background-color: #c3bdff60;
    -fx-background-radius: 70;
    -fx-alignment:center;
}
.drop-box:hover
{
    -fx-cursor: hand;
    -fx-background-color: #c3bdffb0;
}
.drop-box .list-view
{
    -fx-background-color: transparent;
}
.drop-box .combo-box-popup .list-cell
{
    -fx-pref-height: 50;
    -fx-background-radius: 50;
    -fx-background-color: #c3bdfff0;
    -fx-font-weight: 900;
}
.drop-box .combo-box-popup .list-cell:hover
{
    -fx-background-color: #c3bdfff0;
}
.drop-box .list-view .list-cell
{
    -fx-alignment:center;
}
.drop-box .list-cell
{
    -fx-alignment:center;
}
.scroll-bar {
    -fx-background-color: transparent;
}
.scroll-bar .track {
    -fx-background-color: transparent;
}
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
}
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-background-color: transparent;
}
.scroll-bar .thumb {
    -fx-background-color: #c3bdfff0;
    -fx-background-radius: 5;
}
.scroll-pane .corner
{
    -fx-background-color: transparent;
}
#panelList
{
    -fx-padding: 20;
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-background: transparent;
}
#panelList .viewport
{
    -fx-background-color: transparent;
    -fx-alignment: center;
}