#root
{
    -fx-background-color: #c3bdff60;
}
.navigation
{
    -fx-padding: 30px 0px 20px 0px;
    -fx-background-color: #FF007230;
    -fx-background-radius: 0px 0px 180px 0px;
    -fx-effect: dropshadow(three-pass-box, #FF0072ff, 1, 0.3, 3, 0);
}
.button
{
    -fx-padding: 0px;
    -fx-border-radius: 30px;
    -fx-background-color: #FF007230;
    -fx-background-radius: 30px;
    -fx-effect: null;
}
.blur
{
    -fx-background-color: #FF007210;
    -fx-background-radius: 30px;
    -fx-effect: null;
}
#label
{
    -fx-font-family: "Mending";
    -fx-font-size: 20px;
    -fx-padding: 15px 0px 15px 0px;
    -fx-background-radius: 0px 0px 30px 30px;
    -fx-border-radius: 0px 0px 30px 30px;
    -fx-text-fill: #222222;
    -fx-background-color: #FF007220;
    -fx-effect: null;
}
.header
{
    -fx-background-color: #FF007280;
    -fx-background-radius: 0px 0px 30px 0px;
    -fx-effect: dropshadow(three-pass-box, #FF007280, 20, 0, 0, 10);
}
#t-label
{
    -fx-font-family: "Mending";
    -fx-font-size: 20px;
    -fx-padding: 0px 100px 0px 100px;
    -fx-text-fill: #222222;
    -fx-background-color: #FF007250;
    -fx-effect: null;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
}
.chambre
{
    -fx-font-family: "Mending";
}